.DS_Store
dist/
public/*.zip
public/manuals/DM.pdf
public/manuals/Giocatore.pdf
public/manuals/Mostri.pdf
public/manuals/DM/DM.pdf
public/manuals/Giocatore/Giocatore.pdf
public/manuals/Mostri/Mostri.pdf
